body, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header {
	height: 630px;
	position: relative;
	background-color: white;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.black-nav-head {
	height: 50px;
	background-color: #2d2928;
}

.black-nav {
	height: auto;
	padding: 0px 20px;
}

.black-nav {
	height: auto;
	padding: 0px 20px;
}
.black-nav ul {
	float: left;
	width: 300px;
}
.black-nav ul li {
	padding-top: 12px;
	display: inline-block;
}
.black-nav ul li a {
	font-size: 14px;
	color: #c4c4c4;
	text-decoration: none;
}

.black-nav-head div.search {
	border-radius: 10px 10px;
	margin-top: 12px;
	float: right;
	width: 210px;
	height: 25px;
	background-color: white;
}

.head-columnist {	
	height: 130px;
	border-bottom: 1px solid #e1e1e1;
}
.column {
	padding: 0px 20px;
}
.columnist {
	padding-top: 15px;
	float: left;
	width: 468px;
	color: #666666;
}

.columnist h2 {
	font-size: 50px;
	margin-bottom: -8px;
	font-weight: normal;
}
.column .imageholder {
	margin-top: 30px;
	float: 	right;
	width: 468px;
	height: 60px;
	border: 1px solid #999999;
	vertical-align: middle;
	display: block;
	text-align: center;
}
.imageholder p {
	padding-top: 17px;
	color: #999999;
}
.columnist p {
	color: black;
}

.main-nav {
	height: 35px;
	background-color: white;
	margin-top: 1px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
.nav-1 {
	padding-left: 20px;
	height: 35px;
	line-height: 30px;
}
.nav-1 ul {
	font-size: 12px;
	display: inline-block;

}
.nav-1 ul li {
	display: inline-block;
}
.nav-1 ul li a {
	padding: 0px 15px;
	text-decoration: none;
	color: #666666;
}

.nav-1 ul li:first-of-type a {
	padding-left: 0px;
}

.head-main-container {
	float: left;
	margin-top: 35px;
	height: 330px;
	width: 560px;
	background-color: #333333;
}
.head-container {
	padding: 0px 20px;
}

.head-hero {
	position: relative;
	margin-top: 1px;
	height: 410px;
	background-color: white;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.head-hero-h2 {
	padding-left: 50px;
	float: right;
	width: 400px;
	height: 330px;
	margin-top: 50px;
	color: #666666;
}
.head-hero-h2 h1 {
	line-height: 55px;
	font-size: 58px;
	margin-top: 50px;
	font-weight: normal;
}
.head-hero-h2 p {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
}
.head-hero-h2 a {
	text-decoration: none;
	color: orange;
}

.row1 p, .row2 p, .row3 p {
	font-size: 20px;
	color: #666666;
}
.row1 {
	padding: 35px 0px 0px 20px;
	float: left;
	width: 320px;
	/*background-color: blue;*/
}
.row2 {
	padding: 35px 0px 0px 30px;
	float: left;
	width: 330px;
}
.row3 {
	padding: 35px 20px 0px 30px;
	float: right;
	width: 350px;
}
.row1-1:first-of-type p, .row2-1:first-of-type p, .row3-1:first-of-type p {
}
#date-link {
	text-decoration: none;
	color: #ff9900;
	font-size: 15px;
}
#date {
	color: #989898;
	padding: 10px 0 0 0;
	font-size: 15px;
}
.row1-image1 {
	margin: 10px 0 30px 0;
	width: 300px;
	height: 400px;
	padding: 10px;
	border: 1px solid #e1e1e1;
}
.row1-image1-1 {
	width: 280px;
	height: 380px;
	background-color: #333333;
}
.row1-image2 {
	margin: 10px 0 70px 0;
	width: 300px;
	height: 360px;
	padding: 10px;
	border: 1px solid #e1e1e1;
}
.row1-image2-1 {
	width: 280px;
	height: 340px;
	background-color: #333333;
}
.row2-image1 {
	width: 300px;
	height: 340px;
	padding: 10px;
	border: 1px solid #e1e1e1;
	margin: 10px 0 30px 0;
}
.row2-image1-1 {
	width: 280px;
	height: 320px;
	background-color: #333333;
}
.row3-image1 {
	width: 300px;
	height: 240px;
	border: 1px solid #e1e1e1;
	margin: 10px 0 30px 0;
	padding: 10px;
}
.row3-image1-1 {
	width: 280px;
	height: 220px;
	background-color: #333333;
}
.row3-image2 {
	width: 300px;
	height: 550px;
	border: 1px solid #e1e1e1;
	padding: 10px;
	margin: 10px 0 0 0;
}
.row3-image2-1 {
	background-color: #333333;
	width: 280px;
	height: 530px;
}

.foot-up {
	border-bottom: 1px solid #e1e1e1;
	height: 220px;
}
.foot-down {
	height: 65px;
	background-color: #232323;
}
main {
	height: 1130px;
	border-bottom: 1px solid #e1e1e1;
}
.foot-navi {
	width: 1000px;
	padding: 0 20px 0 20px;
}
.foot-up {
	padding: 40px 20px 30px 20px;
}
.foot-nav p, .foot-nav-last p, .foot-nav-first p {

	line-height: 30px;
	color: #666666;
	margin-bottom: 10px;
	width: 180px;
	border-bottom: 1px solid #e1e1e1;
}
.foot-nav a, .foot-nav-last a, .foot-nav-first a {
	text-decoration: none;
	color: #ff9900;
	display: block;
}
.foot-nav {
	width: 180px;
	margin-left: 13px;
	display: inline-block;
}
.foot-nav-last {
	width: 175px;
	margin-left: 10px;
	display: inline-block;
}
.foot-nav-first {
	width: 180px;
	margin: 0;
	padding: 0;
	display: inline-block;
}


@media screen and (max-width: 600px) { 
.search, div.imageholder p, .head-container .head-main-container, .column .imageholder, .container .nav-1 { 
	display: none;
}

@media screen and (max-width: 600px) {
 .black-nav ul li a {
 	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }